<mat-dialog-content>
    <h2>Add user</h2>
    <div class="field-wrapper w100">
      <mat-form-field class="flex1" appearance="outline">
        <mat-label>Firstname</mat-label>
        <input [(ngModel)]="user.firstName" matInput />
        <!-- <mat-hint>Firstname</mat-hint> -->
      </mat-form-field>
      <mat-form-field class="flex1" appearance="outline">
        <mat-label>Lastname</mat-label>
        <input [(ngModel)]="user.lastName" matInput />
        <!-- <mat-hint>Lastname</mat-hint> -->
      </mat-form-field>
    </div>
    <mat-form-field class="w100">
      <mat-label>Date of birth</mat-label>
      <input [(ngModel)]="user.dateOfBirth" matInput [matDatepicker]="picker" />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w100" appearance="outline">
      <mat-label>Address</mat-label>
      <input [(ngModel)]="user.address" matInput placeholder="Placeholder" />
      <!-- <mat-hint>Lastname</mat-hint> -->
    </mat-form-field>
    <div class="field-wrapper">
      <mat-form-field class="flex1" appearance="outline">
        <mat-label>City</mat-label>
        <input [(ngModel)]="user.city" matInput placeholder="Placeholder" />
        <!-- <mat-hint>Lastname</mat-hint> -->
      </mat-form-field>
      <mat-form-field class="flex1" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input [(ngModel)]="user.zipCode" matInput placeholder="Placeholder" />
        <!-- <mat-hint>Lastname</mat-hint> -->
      </mat-form-field>
    </div>
    <mat-dialog-actions class="form-btns">
      <button mat-button>No Thanks</button>
      <button mat-button (click)="saveUser()" [mat-dialog-close]="" cdkFocusInitial>Ok</button>
    </mat-dialog-actions>
  </mat-dialog-content>
  