<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <div class="logo-container">Logo</div>
    <ul>
      <li><mat-icon fontIcon="dashboard"></mat-icon>Dashboard</li>
      <li><mat-icon fontIcon="person"></mat-icon>User</li>
      <li></li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon fontIcon="menu"></mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</mat-drawer-container>

