@import '../styles.scss';

ul{
  list-style: none;
  li {
    @include dFlex($jc: flex-start, $g: 4px);
    cursor: pointer;
    padding: 16px;
    &:hover{
      background-color: $lightgray;
    }
  }

}

.logo-container {
  border-bottom: 1px solid $lightgray;
  padding: 0 16px;
  min-height: 56px;
  @include dFlex();
}

mat-toolbar, mat-toolbar-row {
  min-height: 56px;
}

.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
}

.router-container {
  padding: 16px 56px;
}

.sidenav {
  width: 300px;
}

