<mat-card appearance="outlined">
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
      <tr>
        <td>Max Mustermann</td>
        <td>email(at)email.com</td>
        <td>Musterstadt</td>
      </tr>
      <tr>
        <td>Max Mustermann</td>
        <td>email(at)email.com</td>
        <td>Musterstadt</td>
      </tr>
      <tr>
        <td>Max Mustermann</td>
        <td>email(at)email.com</td>
        <td>Musterstadt</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
