<mat-dialog-content>
  @if(userService.loading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <h2>Add user</h2>
  @if (currentUser) {
  <div class="field-wrapper w100">
    <mat-form-field class="flex1" appearance="outline">
      <mat-label>First name</mat-label>
      <input
        [disabled]="userService.loading()"
        [(ngModel)]="currentUser.firstName"
        matInput
      />
      <!-- <mat-hint>Firstname</mat-hint> -->
    </mat-form-field>
    <mat-form-field class="flex1" appearance="outline">
      <mat-label>Last name</mat-label>
      <input
        [disabled]="userService.loading()"
        [(ngModel)]="currentUser.lastName"
        matInput
      />
      <!-- <mat-hint>Lastname</mat-hint> -->
    </mat-form-field>
  </div>
  <mat-form-field class="w100" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      [disabled]="userService.loading()"
      [(ngModel)]="currentUser.email"
      matInput
    />
    <!-- <mat-hint>Lastname</mat-hint> -->
  </mat-form-field>
  <mat-form-field class="w100">
    <mat-label>Date of birth</mat-label>
    <input
      [disabled]="userService.loading()"
      [(ngModel)]="currentUser.dateOfBirth"
      matInput
      [matDatepicker]="picker"
    />
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  }

  <mat-dialog-actions class="form-btns">
    <button (click)="onNoClick()" [disabled]="userService.loading()" mat-button>
      No Thanks
    </button>
    <button
      [disabled]="userService.loading()"
      mat-button
      (click)="saveEdit()"
      cdkFocusInitial
    >
      Ok
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
