@use '@angular/material' as mat;

$lightgray: rgba(
  $color: #000000,
  $alpha: 0.1,
);

$darkGrey: #333333;
$paleAqua: #E1F4F3;
$stoneGrey: #706C61;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*:hover {
  transition: all 125ms ease-in-out;
}

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: $darkGrey,
    container-text-color: #fff,
  ));
  @include mat.fab-overrides((
    container-color: $stoneGrey,
  ));
}

.flex1 {
  flex:1;
}

.mt32 {
  margin-top: 32px;
}

.w100 {
  width: 100%;
}
